{% extends "base.html" %}
{% block title %}FAQ{% endblock %}

{% block content %}

<div class="container" style="margin-left: 0;">
    <h2>How do you learn with Our Website?!</h2>
    <h2>Welcome to Chinese Learning! 
        You can learn with our website via web (mobile or desktop).
        In the learning page, you will learn a word multiple times. 
        Moreover, you can associate the word with the image for better
        memorization.
    </h2>
</div>
<br>
<div class="container" style="margin-left: 0;">
    <h2>How much does Chinese Learning cost?!</h2>
    <h2>You can learn languages on our website completely free. 
        Our website don't require any materials.
        But, you can purchase some additional reading materials
        on the shopping page on your own. 
    </h2>
</div>
<br>
<div class="container" style="margin-left: 0;">
    <h2>Do I need the internet to use the website?</h2>
    <h2>Yes! If you are accessing the website via the web, 
        you will need to be connected to the internet. 
        If you have a weak internet connection, you may see delays with words loading
        or lost pictures due to syncing issues. Be sure to check your connection 
        strength if you encounter loading and syncing issues.</h2>
</div>



{% endblock %}