{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="container" style="margin-left: 0;">
    <h2>Chinese learning websit</h2>
    <h3>A different way of learning</h3>
    <img src="/static/images" alt="."> 
</div>

<div class="container-fluid">
    <ul>
        <li>In the Learning page, you will learn words with images. <p herf='/learning'>Learn more!</p></li>
        <li>You can test your learning level by taking the quiz. <p herf='/quiz'>Learn more!</p></li>
        <li>Some additional reading material is helpful for your learning. <p herf='/shopping'>Check it out!</p></li>
        <li>More questions, go to the <p href='/faq'>FAQ</p> page</li>
    </ul>

</div>

{% endblock %}
